/* .question,
.answer {
  width: inherit;
  text-align: center;
  color: white;
}

.question:hover,
.question:visited {
  background-color: #d2691e;
}

.answer {
  height: 0;
  display: none;
  transition: 0.5s;
}

.answer div:hover {
  background-color: #008080;
}

.is-active + .answer {
  height: auto;
  display: block;
  padding: 0;
}

.is-active {
  background-color: #d2691e;
} */
